accelerate
black
celery[redis]
diffusers[torch,training]
django
django-celery-beat
django-celery-results
django-restframework
flake8
ftfy
huggingface_hub
isort
numpy
psycopg2
pydantic
pylint
pylint_django
python-dotenv
typing-extensions
--extra-index-url https://download.pytorch.org/whl/cu116
torch
torchvision
torchaudio
git+https://github.com/BillSchumacher/transformers@main#egg=transformers
triton; sys_platform == 'linux'
xformers
# colossalai