black
celery[redis]
channels[daphne]
channels-redis
django
django-celery-beat
django-celery-results
djangorestframework
djangorestframework-simplejwt[crypto]
django-rest-registration
dj-database-url
drf_orjson_renderer
dynamic-rest
flake8
ftfy
huggingface_hub
isort
numpy
orjson
psycopg2
pydantic
pygments
pylint
pylint_django
python-dotenv
sentry-sdk
typing-extensions