<div id="advanced_prompt" class="d-flex flex-column flex-shrink-0 text-bg-light" style="display: none;">
    <div id="advanced_prompt_container" style="display: none;">
        <div style="display: flex; justify-content: space-between;"><h4>Advanced</h4><button onclick="toggle_advanced()" type="button" class="btn-close" aria-label="Close"></button></div>
        <div>
            <div>
                <div style="display: flex; justify-content: space-between;">
                    <label for="seed_input" class="form-label">Seed</label>
                    <div class="form-check form-switch form-check-reverse">
                        <input class="form-check-input" onchange="toggle_random_seed();" type="checkbox" id="random_seed_checkbox" checked>
                        <label class="form-check-label" for="random_seed_checkbox">Random</label>
                    </div>
                </div>
                <input type="number" class="form-control" id="seed_input" placeholder="Enter seed number..." style="display: none;">
            </div>
            <div  class="mb-3" style="display: flex;">
                <div>
                    <label for="width_input" class="form-label">Width</label>
                    <input type="number" class="form-control" id="width_input" placeholder="512">
                </div>
                <div>
                    <label for="height_input" class="form-label">Height</label>
                    <input type="number" class="form-control" id="height_input" placeholder="512">
                </div>
            </div>
            <div class="mb-3">
                <div>
                    <label for="inference_steps_input" class="form-label">Inference Steps</label>
                    <input type="number" class="form-control" id="inference_steps_input" placeholder="50">
                </div>
            </div>
            <div class="mb-3">
                <div>
                    <label for="guidance_scale_input" class="form-label">Guidance Scale</label>
                    <input type="number" class="form-control" id="guidance_scale_input" placeholder="7.5">
                </div>
            </div>
        </div>
        <hr/>
        
        <div class="col" style="display: flex; align-items: center; justify-content: center;">
            <div class="form-check form-switch form-check-reverse">
                <input class="form-check-input" onchange="toggle_multiple_models();" type="checkbox" id="multi_model_switch">
                <label class="form-check-label" for="multi_model_switch">Use Multiple Models</label>
            </div>
        </div>
        <div id="single_model">
            <label for="guidance_scale_input" class="form-label">Model</label>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="model_input" onchange="model_changed()">
                <option>Default Model</option>
                {% for model in models %}
                <option value="{{ model.model_id }}">{{ model.model_id }}</option>
                {% endfor %}
            </select>
            <div id="model_repo_link">
            <a target="_blank" href="https://huggingface.co/{{ default_model }}" style="display: flex;">Model Documentation <span class="material-symbols-outlined">
                description
                </span></a>
            </div>
        </div>
        {% load model_extras %}
        <div id="multiple_models" style="display: none;">
            <div class="list-group list-group-flush scrollarea" style="max-height: 200px;">
            {% for model in models %}
                <div class="list-group-item list-group-item-action" href="#" style="font-size: smaller; display: flex; justify-content: space-between; align-items: center;">
                    
                    <div style="display: flex; align-items: center;">
                        <div>
                        <label for="multi_model_input" class="form-label m-0">{{ model.model_id|hf_model_name }}</label>
                        </div>
                    </div>
                    <div style="display: flex; min-width: 42px; align-items: center;">
                        <div>
                        <input class="form-check-input mt-2" type="checkbox" value="{{ model.model_id }}" onchange="model_checked()" name="multi_model_input" />
                        <a target="_blank" href="https://huggingface.co/{{ model.model_id }}"><span class="mt-1 material-symbols-outlined">
                            description
                            </span></a>
                        </div>
                    </div>
                    
                </div>
            {% endfor %}
            </div>
            <div>
                <div>
                    <div class="d-flex"><div>Selected models:</div><div id="selected_model_count"></div></div>
                    <div id="selected_models"></div>
                </div>
            </div>
        </div>
    </div>
    
</div>

<div id="advanced_prompt_vr" class="b-example-divider b-example-vr" style="display: none;"></div>
