{% extends 'base.html' %}

{% block form_content %}
    {% include 'prompt_form.html' %}
{% endblock %}

{% block content %}
<div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white" style="width: 380px;">
    <a href="/" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
      <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-5 fw-semibold">Generated Images</span>
    </a>
    <div id="generated_images_list" class="list-group list-group-flush border-bottom scrollarea">
      <a href="#" class="list-group-item list-group-item-action active py-3 lh-sm" aria-current="true">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">List group item heading</strong>
          <small>Wed</small>
        </div>
        <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
      </a>
      <button onclick="get_generated_images()">Get Images</button>
    </div>
</div>
<script>
    const use_localhost = {{ use_localhost }};
    var generated_images_list = document.getElementById("generated_images_list");
    var generated_images = [];
    setInterval(get_generated_images, 1000);
    function get_generated_images() {
        fetch("/images").then(function(response) {
            return response.json();
        }).then(function(data) {
            update_generated_images(data.images);
        });
    }
    function update_generated_images(images) {
        if (images.length == 0) {
            generated_images_list.innerHTML = "<p>No images generated yet.</p>";
        } else {
            const stringified = JSON.stringify(images);
            if (stringified === generated_images)
                return;
            console.log(images, generated_images)
            generated_images_list.innerHTML = "";
            generated_images = stringified;
            for (var i = 0; i < images.length; i++) {
                var image = images[i];
                var image_element = document.createElement("img");
                if (use_localhost)
                    image_element.src = `http://localhost:8000/${image.filename}`;
                else
                    image_element.src = `http://${image.host}/${image.filename}`;
                generated_images_list.appendChild(image_element);
            }
        }
    }
</script>
<div class="b-example-divider b-example-vr"></div>
{% endblock %}