
<div id="left_column" class="d-flex flex-column flex-shrink-0 p-3 text-bg-light" style="width: 270px;">
<div>
    <h4>Generate</h4>
    <form id="generate_form" method="post" class="" onsubmit="return fetchpost()">
        {% csrf_token %}
        <label for="prompt" class="form-label">Prompt</label>
        <textarea class=" form-control" id="prompt" cols="42" rows="7" name="prompt" placeholder="Photograph of an astronaut riding a horse" value="Photograph of an astronaut riding a horse"></textarea>
        <div class="containter pt-3">
            <div class="row">
                <div class="col" style="display: flex; align-items: center; justify-content: center;">
                    <div class="form-check form-switch form-check-reverse">
                        <input class="form-check-input" onchange="toggle_advanced();" type="checkbox" id="advanced_switch">
                        <label class="form-check-label" for="advanced_switch">Advanced</label>
                    </div>
                </div>
                <div class="col" style="display: flex; align-items: center; justify-content: center;">
                    <div class="form-check form-switch form-check-reverse">
                        <input class="form-check-input" onchange="toggle_nsfw();" type="checkbox" id="nsfw-input">
                        <label class="form-check-label" for="nsfw_switch">NSFW</label>
                    </div>
                </div>
                <div class="col">
                    <input class="btn btn-primary" type="submit" value="Generate">
                </div>
            </div>
        </div>
    </form>
    <div class="container">
        
    <div class="mb-3">
        <label for="custom-model" class="form-label">Custom Model</label>
        <input type="text"  id="custom-model"  class="form-control">
    </div>
    </div>
    <hr/>
    <div id="renderers"></div>
    <script>
        function fetchpost () {
            var data = new FormData(document.getElementById("generate_form"));
            var random_seed_checkbox = document.getElementById("random_seed_checkbox");
            var seed_input = document.getElementById("seed_input");
            var width_input = document.getElementById("width_input");
            var height_input = document.getElementById("height_input");
            var inference_steps_input = document.getElementById("inference_steps_input");
            var guidance_scale_input = document.getElementById("guidance_scale_input");
            var model_input = document.getElementById("model_input");
            var custom_model = document.getElementById("custom-model");
            var nsfw_input = document.getElementById("nsfw-input");

            if (nsfw_input.checked) {
                data.set("nsfw", "true");
            }
            if (!random_seed_checkbox.checked) {
                data.set("seed", seed_input.value);
            }
            if (width_input.value != "") {
                data.set("width", width_input.value);
            }
            if (height_input.value != "") {
                data.set("height", height_input.value);
            }
            if (inference_steps_input.value != "") {
                data.set("inference_steps", inference_steps_input.value);
            }
            if (guidance_scale_input.value != "") {
                data.set("guidance_scale", guidance_scale_input.value);
            }
            if (use_multiple_models) {
                console.log("Using multiple models", multi_model_input)
                for (var i = 0; i < multi_model_input.length; i++) {
                    if (multi_model_input[i].checked) {
                        data.append("model", multi_model_input[i].value);
                        console.log('appending model', multi_model_input[i].value)
                    }
                    
                }
                data.set('model', data.getAll('model').join(';'));
            } else if (custom_model.value != "") {
                data.set("model", custom_model.value);
            } else {
                if (model_input.value != "" && model_input.value != "Default Model") {
                    data.set("model", model_input.value);
                }
            }
            
            fetch("{% url 'queue_prompt' %}", { method: "post", body: data })
            .then(res => res.json())
            .then(data => {
                //console.log(data);
            })
            .catch(err => console.log(err));
            return false;
        }
        function check_renderers() {
            fetch("{% url 'renderer_health' %}")
            .then(res => res.json())
            .then(data => {
                //console.log(data);
                var renderers = document.getElementById("renderers");
                var health_output = "";

                for (const [key, value] of Object.entries(data.results)) {
                    //console.log(`${key}: ${value}`);
                    let devices_output = [];
                    health_output += `<div><h5>Host ${key}</h5>`;
                    for (var i = 0; i < value.length; i++) {
                        var renderer = value[i];
            
                        health_output += `<h6>Device #${renderer.id}: ${renderer.name}</h6>`;
                        health_output += `<p class='p-0 m-0'>${renderer.usage}</p>`;
                        health_output += `<p class='p-0 m-0'>${renderer.device_allocated}</p>`;
                        health_output += `<p class='p-0 m-0'>${renderer.device_cached}</p>`;
                        health_output += `<p class='p-0 m-0'>${renderer.memory}</p>`;
                    }
                    health_output += `</div>`;
                }
                renderers.innerHTML = health_output;
            })
            .catch(err => console.log(err));
        }
        setInterval(check_renderers, 5000);
    </script>
</div>
</div>

<div class="b-example-divider b-example-vr"></div>