
<div id="left_column" class="d-flex flex-column flex-shrink-0 p-3 text-bg-light" style="width: 270px;">
<div>
    <h4>Generate</h4>
    <form id="generate_form" method="post" class="" onsubmit="return fetchpost()">
        {% csrf_token %}
        <label for="prompt" class="form-label">Prompt</label>
        <textarea class=" form-control" id="prompt_input" cols="42" rows="3" name="prompt" placeholder="Photograph of an astronaut riding a horse" value="Photograph of an astronaut riding a horse"></textarea>
        <label for="prompt" class="form-label">Negative Prompt</label>
        <textarea class=" form-control" id="negative_prompt_input" cols="42" rows="3" name="negative_prompt" placeholder="" value=""></textarea>
        
        <div class="containter pt-3">
            <div class="row">
                <div class="col" style="display: flex; align-items: center; justify-content: center;">
                    <div class="form-check form-switch form-check-reverse">
                        <input class="form-check-input" onchange="toggle_advanced();" type="checkbox" id="advanced_switch">
                        <label class="form-check-label" for="advanced_switch">Advanced</label>
                    </div>
                </div>
                <div class="col" style="display: flex; align-items: center; justify-content: center;">
                    <div class="form-check form-switch form-check-reverse">
                        <input class="form-check-input" onchange="toggle_nsfw();" type="checkbox" id="nsfw-input">
                        <label class="form-check-label" for="nsfw_switch">NSFW</label>
                    </div>
                </div>
                <div class="col">
                    <input class="btn btn-primary" type="submit" value="Generate">
                </div>
            </div>
        </div>
    </form>
    <div class="container">
        
    <div class="mb-3">
        <label for="custom-model" class="form-label">Custom Model</label>
        <input type="text"  id="custom-model"  class="form-control">
    </div>
    </div>
    <script>
        let advanced_switch = null;
        let advanced_prompt = null;
        let advanced_prompt_container = null;
        let advanced_prompt_vr = null;
        let custom_model_input = null;
        let generate_form = null;
        let guidance_scale_input = null;
        let inference_steps_input = null;

        let width_input = null;
        let height_input = null;

        let model_input = null;
        let model_repo_link = null;
        let multi_model_input = null;
        let multi_model_switch = null;
        let multiple_models_element = null;
        let nsfw_input = null;

        let prompt_input = null;
        let negative_prompt_input = null;

        let random_seed = true;
        
        let random_seed_checkbox = null;
        let seed_input = null;
        let selected_model_count_element = null;
        let selected_models_element = null;
        let single_model_element = null;

        let show_advanced = false;
        let use_multiple_models = false;
        let selected_model_count = 0;
        let selected_indexes = [];

        function model_checked() {
            let selected_models = [];
            let count = 0;
            for (let i = 0; i < multi_model_input.length; i++) {
                if (multi_model_input[i].checked) {
                    selected_models.push(multi_model_input[i].value);
                    count++;
                    selected_indexes.push(i);
                } else {
                    selected_indexes = selected_indexes.filter((index) => index !== i);
                }
            }
            if (count == 3) {
                for (let i = 0; i < multi_model_input.length; i++) {
                    if (!multi_model_input[i].checked) {
                        multi_model_input[i].disabled = true;
                    }
                }
            } else {
                for (let i = 0; i < multi_model_input.length; i++) {
                    multi_model_input[i].disabled = false;
                }
            }
            selected_model_count = count;
            selected_model_count_element.innerHTML = `${count}${count == 3 ? ' (max)' : ''}`;
            let selected_models_html = '';
            for (const model of selected_models) {
                selected_models_html += `<div class="badge bg-secondary">${model}</div>`;
            }
            selected_models_element.innerHTML = selected_models_html;
        }

        function model_changed() {
            const model_id = model_input.value;
            model_repo_link.innerHTML = `<a target="_blank" href="https://huggingface.co/${model_id}">Model Documentation</a>`;
        }

        function toggle_multiple_models() {
            use_multiple_models = !use_multiple_models;
            if (use_multiple_models) {
                multi_model_switch.checked = true;
                single_model_element.style.display = 'none';
                multiple_models_element.style.display = 'block';
            } else {
                multi_model_switch.checked = false;
                single_model_element.style.display = 'block';
                multiple_models_element.style.display = 'none';
            }
        }

        function toggle_random_seed() {
            random_seed = !random_seed;
            localStorage.setItem('random_seed', random_seed ? '1': '0');
            if (random_seed) {
                seed_input.style.display = 'none';
            } else {
                seed_input.style.display = 'block';
            }
        }

        function toggle_advanced() {
            show_advanced = !show_advanced;
            localStorage.setItem('show_advanced', show_advanced ? '1': '0');
            if (show_advanced) {
                advanced_prompt.style.display = "block";
                advanced_prompt.style.width = '280px';
                advanced_prompt_container.style.display = "block";
                advanced_prompt_vr.style.display = "block";
                advanced_prompt.classList.add('p-3')
                advanced_switch.checked = true;
            } else {
                advanced_prompt.style.display = "none";
                advanced_prompt.classList.remove('p-3');
                advanced_prompt_container.style.display = "none";
                advanced_prompt.style.width = '0';
                advanced_prompt_vr.style.display = "none";
                advanced_switch.checked = false;
            }
        }
        function toggle_nsfw() {
            localStorage.setItem('nsfw', nsfw_input.checked ? '1': '0');
        }
        function fetchpost () {
            var data = new FormData(generate_form);
            const seed = seed_input.value;
            const width = width_input.value;
            const height = height_input.value;
            const inference_steps = inference_steps_input.value;
            const guidance_scale = guidance_scale_input.value;
            const custom_model =  custom_model_input.value;
            const selected_model = model_input.value;
            const prompt = prompt_input.value;
            const negative_prompt = negative_prompt_input.value;
            localStorage.setItem("prompt", prompt);
            localStorage.setItem("negative_prompt", negative_prompt);
            localStorage.setItem("seed", seed);
            localStorage.setItem("width", width);
            localStorage.setItem("height", height);
            localStorage.setItem("inference_steps", inference_steps);
            localStorage.setItem("guidance_scale", guidance_scale);
            
            if (nsfw_input.checked) {
                data.set("nsfw", "true");
                localStorage.setItem("nsfw", "1");
            } else {
                localStorage.setItem("nsfw", "0");
            }

            if (!random_seed_checkbox.checked) {
                localStorage.setItem("random_seed", "0");
                data.set("seed", seed);
            } else {
                localStorage.setItem("random_seed", "1");
            }

            if (width != "") {
                data.set("width", width);
            }
            if (height != "") {
                data.set("height", height);
            }
            if (inference_steps != "") {
                data.set("inference_steps", inference_steps);
            }
            if (guidance_scale != "") {
                data.set("guidance_scale", guidance_scale);
            }

            let model_value = null;
            if (use_multiple_models) {
                localStorage.setItem("use_multiple_models", "1");
                localStorage.setItem("custom_model", "0");
                for (var i = 0; i < multi_model_input.length; i++) {
                    if (multi_model_input[i].checked) {
                        data.append("model", multi_model_input[i].value);
                    }
                    
                }
                model_value =  data.getAll('model').join(';')
            } else if (custom_model != "") {
                localStorage.setItem("use_multiple_models", "0");
                localStorage.setItem("custom_model", "1");
                model_value = custom_model;
            } else {
                localStorage.setItem("use_multiple_models", "0");
                localStorage.setItem("custom_model", "0");
                if (selected_model != "" && selected_model != "Default Model") {
                    model_value = selected_model;
                } else {
                    model_value = "";
                }
            }

            localStorage.setItem("model", model_value);
            data.set('model', model_value);
            
            fetch("{% url 'queue_prompt' %}", { method: "post", body: data })
            .then(res => res.json())
            .then(data => {
                //console.log(data);
            })
            .catch(err => console.log(err));
            return false;
        }

        addEventListener("load", (event) => {
            advanced_switch = document.getElementById("advanced_switch");
            advanced_prompt = document.getElementById("advanced_prompt");
            advanced_prompt_container = document.getElementById("advanced_prompt_container");
            advanced_prompt_vr = document.getElementById("advanced_prompt_vr");

            
            if (localStorage.getItem('show_advanced') == '1') {
                toggle_advanced();
            }
            
            const local_model = localStorage.getItem('model');

            custom_model_input = document.getElementById("custom-model");
            const local_custom_model = localStorage.getItem('custom_model');
            if (local_custom_model == '1') {
                custom_model_input.value = local_model;
            }
            generate_form = document.getElementById("generate_form");
            guidance_scale_input = document.getElementById("guidance_scale_input");
            const local_guidance_scale = localStorage.getItem('guidance_scale');
            if (local_guidance_scale != null && local_guidance_scale != "") {
                guidance_scale_input.value = local_guidance_scale;
            }
            inference_steps_input = document.getElementById("inference_steps_input");
            const local_inference_steps = localStorage.getItem('inference_steps');
            if (local_inference_steps != null && local_inference_steps != "") {
                inference_steps_input.value = local_inference_steps;
            }

            width_input = document.getElementById("width_input");
            const local_width = localStorage.getItem('width');
            if (local_width != null && local_width != "") {
                width_input.value = local_width;
            }
            height_input = document.getElementById("height_input");
            const local_height = localStorage.getItem('height');
            if (local_height != null && local_height != "") {
                height_input.value = local_height;
            }
            

            model_input = document.getElementById("model_input");
            model_repo_link = document.getElementById("model_repo_link");
            multi_model_input = document.getElementsByName("multi_model_input");
            multi_model_switch = document.getElementById("multi_model_switch");
            multiple_models_element = document.getElementById("multiple_models");
            single_model_element = document.getElementById("single_model");
            
            selected_model_count_element = document.getElementById("selected_model_count");
            selected_models_element = document.getElementById("selected_models");

            const local_use_multiple_models = localStorage.getItem('use_multiple_models');
            let local_models = null;
            if (local_use_multiple_models == '1') {
                toggle_multiple_models();
                if (local_model != null && local_model != "") {
                    local_models = local_model.split(';');
                    for (var i = 0; i < multi_model_input.length; i++) {
                        if (local_models.includes(multi_model_input[i].value)) {
                            multi_model_input[i].checked = true;
                        }
                    }
                }
            } else {
                if (local_model != null && local_model != "") {
                    model_input.value = local_model;
                }
            }

            if (local_use_multiple_models === '1') {
                for (let i = 0; i < local_models.length; i++) {
                    selected_models_element.innerHTML += `<div class="badge bg-secondary">${local_models[i]}</span>`;
                }
                selected_model_count_element.innerHTML = local_models.length;
                single_model_element.style.display = "none";
            } else {
                selected_models_element.innerHTML = ``;
                selected_model_count_element.innerHTML = 0;
                single_model_element.style.display = "block";
            }
            
            nsfw_input = document.getElementById("nsfw-input");
            const local_nsfw = localStorage.getItem('nsfw');
            if (local_nsfw == '1') {
                nsfw_input.checked = true;
            }
            prompt_input = document.getElementById("prompt_input");
            const local_prompt = localStorage.getItem('prompt');
            if (local_prompt != null && local_prompt != "") {
                prompt_input.value = local_prompt;
            }
            negative_prompt_input = document.getElementById("negative_prompt_input");
            const local_negative_prompt = localStorage.getItem('negative_prompt');
            if (local_negative_prompt != null && local_negative_prompt != "") {
                negative_prompt_input.value = local_negative_prompt;
            }
            random_seed_checkbox = document.getElementById("random_seed_checkbox");
            seed_input = document.getElementById("seed_input");

            const local_seed = localStorage.getItem('seed');
            if (local_seed != null && local_seed != "") {
                seed_input.value = local_seed;
            }
            const local_random_seed = localStorage.getItem('random_seed');
            if (local_random_seed == '0' || local_random_seed == null) {
                toggle_random_seed();
                random_seed_checkbox.checked = false;
            }

        });

    </script>
</div>
</div>

<div class="b-example-divider b-example-vr"></div>