
<div id="left_column" class="d-flex flex-column flex-shrink-0 p-3 text-bg-light" style="width: 270px;">
<div>
    <h4>Generate</h4>
    <form id="generate_form" method="post" class="" onsubmit="return fetchpost()">
        {% csrf_token %}
        <label for="prompt" class="form-label">Prompt</label>
        <textarea class=" form-control" id="prompt" cols="42" rows="3" name="prompt" placeholder="Photograph of an astronaut riding a horse" value="Photograph of an astronaut riding a horse"></textarea>
        <label for="prompt" class="form-label">Negative Prompt</label>
        <textarea class=" form-control" id="negative_prompt" cols="42" rows="3" name="negative_prompt" placeholder="" value=""></textarea>
        
        <div class="containter pt-3">
            <div class="row">
                <div class="col" style="display: flex; align-items: center; justify-content: center;">
                    <div class="form-check form-switch form-check-reverse">
                        <input class="form-check-input" onchange="toggle_advanced();" type="checkbox" id="advanced_switch">
                        <label class="form-check-label" for="advanced_switch">Advanced</label>
                    </div>
                </div>
                <div class="col" style="display: flex; align-items: center; justify-content: center;">
                    <div class="form-check form-switch form-check-reverse">
                        <input class="form-check-input" onchange="toggle_nsfw();" type="checkbox" id="nsfw-input">
                        <label class="form-check-label" for="nsfw_switch">NSFW</label>
                    </div>
                </div>
                <div class="col">
                    <input class="btn btn-primary" type="submit" value="Generate">
                </div>
            </div>
        </div>
    </form>
    <div class="container">
        
    <div class="mb-3">
        <label for="custom-model" class="form-label">Custom Model</label>
        <input type="text"  id="custom-model"  class="form-control">
    </div>
    </div>
    <script>
        let advanced_switch = null;
        let advanced_prompt = null;
        let advanced_prompt_container = null;
        let advanced_prompt_vr = null;
        let custom_model = null;
        let generate_form = null;
        let guidance_scale_input = null;
        let inference_steps_input = null;

        let width_input = null;
        let height_input = null;

        let model_input = null;
        let model_repo_link = null;
        let multi_model_input = null;
        let multiple_models_element = null;
        let nsfw_input = null;

        let random_seed = true;
        
        let random_seed_checkbox = null;
        let seed_input = null;
        let selected_model_count_element = null;
        let selected_models_element = null;
        let single_model_element = null;

        let show_advanced = false;
        let use_multiple_models = false;
        let selected_model_count = 0;
        let selected_indexes = [];

        function model_checked() {
            let selected_models = [];
            let count = 0;
            for (let i = 0; i < multi_model_input.length; i++) {
                if (multi_model_input[i].checked) {
                    selected_models.push(multi_model_input[i].value);
                    count++;
                    selected_indexes.push(i);
                } else {
                    selected_indexes = selected_indexes.filter((index) => index !== i);
                }
            }
            if (count == 3) {
                for (let i = 0; i < multi_model_input.length; i++) {
                    if (!multi_model_input[i].checked) {
                        multi_model_input[i].disabled = true;
                    }
                }
            } else {
                for (let i = 0; i < multi_model_input.length; i++) {
                    multi_model_input[i].disabled = false;
                }
            }
            selected_model_count = count;
            selected_model_count_element.innerHTML = `${count}${count == 3 ? ' (max)' : ''}`;
            let selected_models_html = '';
            for (const model of selected_models) {
                selected_models_html += `<div>${model}</div>`;
            }
            selected_models_element.innerHTML = selected_models_html;
        }

        function model_changed() {
            const model_id = model_input.value;
            model_repo_link.innerHTML = `<a target="_blank" href="https://huggingface.co/${model_id}">Model Documentation</a>`;
        }

        function toggle_multiple_models() {
            use_multiple_models = !use_multiple_models;
            if (use_multiple_models) {
                single_model_element.style.display = 'none';
                multiple_models_element.style.display = 'block';
            } else {
                single_model_element.style.display = 'block';
                multiple_models_element.style.display = 'none';
            }
        }

        function toggle_random_seed() {
            random_seed = !random_seed;
            if (random_seed) {
                seed_input.style.display = 'none';
            } else {
                seed_input.style.display = 'block';
            }
        }

        function toggle_advanced() {
            show_advanced = !show_advanced;
            if (show_advanced) {
                advanced_prompt.style.display = "block";
                advanced_prompt.style.width = '280px';
                advanced_prompt_container.style.display = "block";
                advanced_prompt_vr.style.display = "block";
                advanced_prompt.classList.add('p-3')
                advanced_switch.checked = true;
            } else {
                advanced_prompt.style.display = "none";
                advanced_prompt.classList.remove('p-3');
                advanced_prompt_container.style.display = "none";
                advanced_prompt.style.width = '0';
                advanced_prompt_vr.style.display = "none";
                advanced_switch.checked = false;
            }
        }

        function fetchpost () {
            var data = new FormData(generate_form);
            if (nsfw_input.checked) {
                data.set("nsfw", "true");
            }
            if (!random_seed_checkbox.checked) {
                data.set("seed", seed_input.value);
            }
            if (width_input.value != "") {
                data.set("width", width_input.value);
            }
            if (height_input.value != "") {
                data.set("height", height_input.value);
            }
            if (inference_steps_input.value != "") {
                data.set("inference_steps", inference_steps_input.value);
            }
            if (guidance_scale_input.value != "") {
                data.set("guidance_scale", guidance_scale_input.value);
            }
            if (use_multiple_models) {
                for (var i = 0; i < multi_model_input.length; i++) {
                    if (multi_model_input[i].checked) {
                        data.append("model", multi_model_input[i].value);
                    }
                    
                }
                data.set('model', data.getAll('model').join(';'));
            } else if (custom_model.value != "") {
                data.set("model", custom_model.value);
            } else {
                if (model_input.value != "" && model_input.value != "Default Model") {
                    data.set("model", model_input.value);
                }
            }
            
            fetch("{% url 'queue_prompt' %}", { method: "post", body: data })
            .then(res => res.json())
            .then(data => {
                //console.log(data);
            })
            .catch(err => console.log(err));
            return false;
        }

        addEventListener("load", (event) => {
            advanced_switch = document.getElementById("advanced_switch");
            advanced_prompt = document.getElementById("advanced_prompt");
            advanced_prompt_container = document.getElementById("advanced_prompt_container");
            advanced_prompt_vr = document.getElementById("advanced_prompt_vr");

            custom_model = document.getElementById("custom-model");
            generate_form = document.getElementById("generate_form");
            guidance_scale_input = document.getElementById("guidance_scale_input");
            inference_steps_input = document.getElementById("inference_steps_input");

            width_input = document.getElementById("width_input");
            height_input = document.getElementById("height_input");
            
            model_input = document.getElementById("model_input");
            model_repo_link = document.getElementById("model_repo_link");
            multi_model_input = document.getElementsByName("multi_model_input");
            multiple_models_element = document.getElementById("multiple_models");
            nsfw_input = document.getElementById("nsfw-input");
            
            random_seed_checkbox = document.getElementById("random_seed_checkbox");
            seed_input = document.getElementById("seed_input");
            selected_model_count_element = document.getElementById("selected_model_count");
            selected_models_element = document.getElementById("selected_models");
            single_model_element = document.getElementById("single_model")
        });

    </script>
</div>
</div>

<div class="b-example-divider b-example-vr"></div>