{% extends "base.html" %}
{% block title %}Search{% endblock %}

{% block middle_column %}
<div class="container mt-2">
    <ul class="nav nav-tabs">
        {% include 'search_active.html' with link_pipeline_tag="Text_to_Image" dropdown=False label="Text-To-Image" %}
        {% include 'search_active.html' with link_pipeline_tag="Text_to_Speech" dropdown=False label="Text-To-Speech" %}
        {% include 'search_active.html' with link_pipeline_tag="TextGeneration" dropdown=False label="Text-To-Text" %}
        {% include 'search_active.html' with link_pipeline_tag="Image_to_Image" dropdown=False label="Image-To-Image" %}
        {% include 'search_active.html' with link_pipeline_tag="Image_to_Text" dropdown=False label="Image-To-Text" %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Classification</a>
          <ul class="dropdown-menu">
            
            {% include 'search_active.html' with link_pipeline_tag="DepthEstimation" dropdown=True label="Depth Estimation" %}
            {% include 'search_active.html' with link_pipeline_tag="ObjectDetection" dropdown=True label="Object Detection" %}
            {% include 'search_active.html' with link_pipeline_tag="UnconditionalImageGeneration" dropdown=True label="Unconditional Image Generation" %}
            <li><hr class="dropdown-divider"></li>
            {% include 'search_active.html' with link_pipeline_tag="AudioClassification" dropdown=True label="Audio Classification" %}
            {% include 'search_active.html' with link_pipeline_tag="ImageClassification" dropdown=True label="Image Classification" %}
            {% include 'search_active.html' with link_pipeline_tag="ImageSegmentation" dropdown=True label="Image Segmentation" %}
            {% include 'search_active.html' with link_pipeline_tag="TextClassification" dropdown=True label="Text Classification" %}
            {% include 'search_active.html' with link_pipeline_tag="TokenClassification" dropdown=True label="Token Classification" %}
            {% include 'search_active.html' with link_pipeline_tag="VideoClassification" dropdown=True label="Video Classification" %}
          </ul>
        </li>
      </ul>
<div>
<table id="model-table" class="table table-sm table-striped table-hover display" style="width:100%">
    <thead>
        <tr>
            <th scope="col">Model ID</th>
            <th scope="col">Likes</th>
            <th scope="col">Updated</th>
            <!--<th scope="col">Tags</th>-->
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for model in models %}
        <tr>
            <td scope="col"><a href="https://huggingface.co/{{ model.modelId }}" target="_blank">{{ model.modelId }}</a></td>
            <td scope="col">{{ model.likes }}</td>
            <td scope="col">{{ model.lastModified }}</td>
            <!--<td scope="col">{{ model.tags }}</td>-->
            <td scope="col">
                {% if not model.added %}
                <a href="{{ add_url }}?model_id={{ model.modelId|iriencode }}&likes={{ model.likes }}">Add</a>
                {% else %}
                <a href="{{ remove_url }}?model_id={{ model.modelId|iriencode }}">Remove</a>
                {% endif %}
                <!--
                <div class="form-check form-switch form-check-reverse">
                    <input class="form-check-input" onchange="console.log('{{model.modelId}} toggled');" type="checkbox" id="use_{{ model.modelId }}_switch">
                    <label class="form-check-label" for="use_{{ model.modelId }}_switch">Use</label>
                </div>
                -->
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>

</div>
{% endblock %}

{% block extra_js %}
<script>
    $(document).ready(function () {
        $('#model-table').DataTable(
            {
                order: [[1, 'desc']],
                fixedHeader: true,
                scrollY: '50vh',
                scrollCollapse: true,
            }
        );
    });
</script>
{% endblock %}