
<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 160px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span class="fs-4">Hard Diffusion</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li id="generate_nav_item">
        <a id="generate_nav_link" href="{% url 'generate_index' %}" class="nav-link" aria-current="page">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#cpu-fill"/></svg>
          Generate
        </a>
      </li>
      <li id="train_nav_item">
        <a id="train_nav_link" href="{% url 'train_index' %}" class="nav-link">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
          Train
        </a>
      </li>
      <li id="model_nav_item">
        <a id="model_nav_link" href="{% url 'search_huggingface_models' %}" class="nav-link">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
          Model
        </a>
      </li>
    </ul>
    <hr class="mt-auto">
    <ul class="nav nav-pills flex-column mb-auto">
        <li>
          <a href="{% url 'status' %}" class="nav-link text-white d-flex">
            <div class="material-symbols-rounded text-warning-emphasis  pe-none me-2 bi" style="margin-left: -4px;" id="status-icon">
              pending
            </div>
            <div>
              Status
            </div>
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#tools"/></svg>
              Settings
          </a>
        </li>
    </ul>
    <script>
      var status_icon = document.getElementById("status-icon");
      /*
      setInterval(function() {
        fetch("{% url 'renderer_health' %}")
          .then(response => response.json())
          .then(data => {
            if (Object.keys(data.results).length) {
              status_icon.innerHTML = "check_circle";
              if (status_icon.classList.contains("text-warning-emphasis")) {
                status_icon.classList.remove("text-warning-emphasis");
              }
              if (status_icon.classList.contains("text-warning-emphasis")) {
                status_icon.classList.remove("text-warning-emphasis");
              }
              status_icon.classList.add("text-success-emphasis");
            } else {
              status_icon.innerHTML = "cancel";
              if (status_icon.classList.contains("text-warning-emphasis")) {
                status_icon.classList.remove("text-warning-emphasis");
              }
              if (status_icon.classList.contains("text-warning-emphasis")) {
                status_icon.classList.remove("text-warning-emphasis");
              }
              status_icon.classList.add("text-danger-emphasis");
            }
          });
      }, 3000);
      */
    </script>
</div>