
<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 160px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span class="fs-4">Hard Diffusion</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li id="generate_nav_item">
        <a id="generate_nav_link" href="{% url 'generate_index' %}" class="nav-link" aria-current="page">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#cpu-fill"/></svg>
          Generate
        </a>
      </li>
      <li id="train_nav_item">
        <a id="train_nav_link" href="{% url 'train_index' %}" class="nav-link">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
          Train
        </a>
      </li>
    </ul>
    <hr class="mt-auto">
    <ul class="nav nav-pills flex-column mb-auto">
        <li>
          <a href="#" class="nav-link text-white">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#tools"/></svg>
              Status
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#tools"/></svg>
              Settings
          </a>
        </li>
    </ul>
</div>